/* Header */
body{
    font-family: 'Space Grotesk', sans-serif;
}
.h-36{
    height: 36px;
}
.h-46{
    height: 46px;;
}
.textPrimary{
    color: #0A77FF;
}
.textSecondary{
    color: #495A6B;;
}
.textMenu{
    color: #8898AA;
}
.textBlue{
    color: #2440E5;
}
.bgSecondary{
    background-color: #F0F7FF;
}
.font-size-13{
    font-size: 13px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-17{
    font-size: 17px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-19{
    font-size: 19px;
}
.font-size-20{
    font-size: 20px;
}
.fw-500{
    font-weight: 500;
}
.customHeader{
    background-color: #FDFEFF;
    border: 1px solid #e4e7eb;
    padding: 18px 24px 24px 24px;
}
.customHeader .navbar-brand span{
    color: #0A123B;
    font-size: 16px;
    font-weight: 700;
    font-family: Space Grotesk;
}
.customHeader .navbar-nav .nav-item .nav-link{
    color: #20242B;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.customHeader .navbar-toggler:focus{
    box-shadow: none;
}
.customHeader .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.customHeader .has-megamenu{position:static!important;}
	.customHeader .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}	
/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */
@media(max-width: 991px){
	.customHeader .navbar-collapse, .customHeader.sticky-top .navbar-collapse{
		overflow-y: auto;
	    max-height: 90vh;
	    margin-top:10px;
	}
}
/* ============ mobile view .end// ============ */
.col-megamenu .title{
    color: #2E2151;
    font-size: 15px;
}
.btnLogin{
    color: #576272;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.5px;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    background-color: #FFF;
    padding: 0px 12px 0px 16px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.btnLogin:hover{
    background-color: #f1f1f1;
}
.btnStart{
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.5px;
    border-radius: 5px;
    border: 1px solid #2440E5;
    background-color: #2440E5;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.btnStart:hover{
    color: white;
    background-color: #3649b3;
}
.beta p{
    border-radius: 16px;
    border: 1px solid rgba(10, 119, 255, 0.10);
    background: #F0F7FF;
    padding: 4px 12px 8px 4px;
}
.beta p .badgeBeta{
    background-color: white;
    border-radius: 16px;
    font-size: 14px;
    padding:  2px 9.73px 4px 9.73px;
    text-align: center;
}
.marketing{
    padding-top: 65px;
    background: url(../images/dot.png) repeat;
}
.imgAbsoluteBoard2{
    position: absolute;
    top: -3rem;
    right: 4rem;
}
.imgAbsoluteBoard3{
    position: absolute;
    bottom: 2rem;
    left: 0;
}
.imgAbsoluteBoard4{
    position: absolute;
    bottom: 0rem;
    right: 0;
}
.imgAbsoluteBoard5{
    position: absolute;
    bottom: 5rem;
    left: 15%;
}
.imgAbsoluteInnovate{
    position: absolute;
    top: -3rem;
    left: -4rem;
}
.cardInnovative{
    background: url(../images/dotGray.png) repeat;
}
.convert{
    background: url(../images/bgconvert.svg) top;
}
.borderPrimary{
    border-bottom:1px solid #CEBEFE;
}
@media screen and (max-width:500px){
    .containerButtons .btn{
        width: 100%;
        margin-bottom: 1rem;
    }
    .marketing{
        padding-top: 20px;
    }
    .footer .privacy p{
        font-size: 14px;
    }
}